
@keyframes dealerIconAnimationOnMount {
    from {
        transform: translateY(500%) rotate(300deg);
        background-color: none;
    }
    to {
        opacity: 1;
    }
}

@keyframes mainDivAnimation {
    from {
        box-shadow: none;
    }
    to {
        background-color: #4bd3a1ee;
    }
}



@media screen and (max-width: 600px) {
    .teamUsAnimation {
        font-size: 30px;
    }

    .teamThemAnimation {
        animation: teamThemHover 2s;
        font-size: 30px;
    }

    .vsAnimation {
        margin:20px;
    }

    @keyframes growVs {
        0% {
            opacity: 0;
            font-size: 35px;
            color:red;
        }
        50% {
            opacity: 40;
            font-size: 60px;
            color: red;
        }
        100% {
            font-size: 35px;
        }
    }
}
