.mainDiv {
    background-color: #4bd3a1ee;
    height: 850px;
    margin: auto;
}

.gameStartButton {
    margin:auto;
    align-self: center;
    border: none;
    font-size:2rem;
    background-color:#137752;
    border: 5px solid white;
    color: white;

    animation:  2s;
}

.personIcon{
    width: 35%;
    margin:auto;
}

.teamNames {    
    display:flex;
    justify-content: center;
    margin-top: 40px;
    animation: teamNamesAnimation 2s;
    background-color: #137752;
}

.teamUsAnimation {
    animation: teamUsHover 2s;
}

.teamThemAnimation {
    animation: teamThemHover 2s;
}

.vsAnimation {
    animation: growVs 2s forwards;
}

@keyframes buttonHover {    
    from {background-color: white;}
    to {background-color: #137752;
    color:white;}
}

@keyframes teamUsHover {
    from {
        opacity: 0;
        transform: translateX(-800%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes teamThemHover {
    from {
        opacity: 0;
        transform: translateX(800%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }   
}

@keyframes growVs {
    0% {
        opacity: 0;
        font-size: 32px;
    }
    50% {
        opacity: 1;
        font-size: 55px;
    }
    100% {
        font-size: 45px;
    }
}

@keyframes teamNamesAnimation {
    from {
        background-color: transparent;
        transform: translateY(500%);
        /* width: 0%; */
    }
    to {
        transform: translateY(0%);
        /* width: 100%; */
    }
}