.teamUsAnimation {
    animation: teamUsHover 2s;
    /* font-size: 30px; */
}

.teamThemAnimation {
    animation: teamThemHover 2s;
    /* font-size: 30px; */
}

.vsAnimation {
    animation: growVs 2s forwards;
    margin: 30px;
}

@keyframes teamUsHover {
    from {
        opacity: 0;
        transform: translateX(-800%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes teamThemHover {
    from {
        opacity: 0;
        transform: translateX(800%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }   
}

@keyframes growVs {
    0% {
        opacity: 0;
        font-size: 50px;
        color:red;
    }
    50% {
        opacity: 40;
        font-size: 65px;
        color: red;
    }
    100% {
        font-size: 50px;
    }
}

@keyframes teamNamesAnimation {
    0% {
        background-color: transparent;
        transform: translateY(300%);
    }
    80% {
    }
    90%{
        background-color: transparent;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dealerIconAnimationOnMount {
    from {
        transform: translateY(500%) rotate(300deg);
    }
    to {
        opacity: 1;
    }
}




@media screen and (max-width: 600px) {
    .teamUsAnimation {
        font-size: 30px;
    }

    .teamThemAnimation {
        animation: teamThemHover 2s;
        font-size: 30px;
    }

    .vsAnimation {
        margin:20px;
    }

    @keyframes growVs {
        0% {
            opacity: 0;
            font-size: 35px;
            color:red;
        }
        50% {
            opacity: 40;
            font-size: 60px;
            color: red;
        }
        100% {
            font-size: 35px;
        }
    }
}
