body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('D:/Projects/bella/Images/bela-pozadina.jpg');
    background-repeat: repeat;
    background-size: 60%;
    overflow:hidden;
}

h1, h2 {
    text-align: center;
}

.headers{
    margin:3%;
    border-bottom: 3px solid white;
    color: white;
    padding: 10px;
    animation:onLoadHeader;
    animation-duration: 2s; 
    
}

.inputsAndTeams {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    margin-top:200px;
    margin-bottom: 100px;
    align-items: center;
    height: 600px;
    width:70%;
    border-radius: 50px;
    background-color: #137752ee;
    animation: onLoadBackground;
    animation-duration: 2s;
}

.teamNamesText {
    font-size: 35px;
    border-bottom: 3px solid white;
    animation: onLoadHeader 2s;
}

.Input{
    margin-inline: 20px;
    font-size: 3rem;
    text-align: center;
    color: white;
    border: 5px solid white;
}
.Input::placeholder {
    color: rgba(255, 255, 255, 0.659);
}

.Input:focus{
    outline: none;
}
.Inputs{
    justify-content: center;
    animation: onLoadButtonsAndInputs 2s;
}

.teamNamesButton{
    border: 5px solid white;
    color: white;
    background-color: #137752;
    height: 100px;
    margin-top: 20px;
    width: 300px;
    font-size:2rem;
    animation: onLoadButtonsAndInputs 2s, wobblyButton 2s infinite;
}

@keyframes wobblyButton {
    0% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}

.Teams {
    text-decoration: underline;
    /* background-color: rebeccapurple; */
    color:white;
    width: 100%;
    height: 100px;
    justify-content: center;
}

@keyframes onLoadHeader {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes onLoadButtonsAndInputs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes onLoadBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* css for phones */
@media screen and (max-width: 600px) {
    .inputsAndTeams {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
        margin-top:30px;
        margin-bottom: 100px;
        align-items: center;
        height: 650px;
        width: 90%;
        border-radius: 50px;
        background-color: #137752ee;
        animation: onLoadBackground;
        animation-duration: 2s;
    }
    .headers {
        font-size: 30px;
    }
    .teamNamesText {
        font-size: 25px;
    }
    .Input {
        width: 60%;
        height: 12%;
        margin:0 0 -20px 0;
        font-size:40px;
    }
    .Inputs{
        margin-top:60px;
    }
    .teamNamesButton {
        margin-top:50px;
    }
}
