.master {
    height: 1000px;
    animation: backgroundOnMount 2s forwards;
    animation-delay: 2s;
}

.BelaBlok {
    border-radius: 50px;
    background-color: white;
    height: 700px;
    box-shadow: 5px 8px 10px grey;
    width: 1200px;
    margin: 2% 0px 10% 5%;
    
    animation: BelaBlokAnimationOnMount 2s forwards;
    animation-delay: 1s;
    opacity: 0;
}

.inputsAndButtons {
    background-color: white;
    border: 5px solid white;
    border-radius: 0 0 50px 50px ;
    width: auto;
    justify-content: center;
}

.gameButton {
    background-color: #137752;
    border: none; 
    color: white;
    font-size: 40px;
    padding: 20px;
    box-shadow: 10px 8px 50px grey;
}

.buttonsToggle {
    background-color: #137752;
    outline: 5px solid white;
}

.Input{
    background-color: #137752; 
    box-shadow: 10px 8px 50px grey;
}

.Input::-webkit-outer-spin-button, .Input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.Input::placeholder {
    color: rgba(255, 255, 255, 0.69);
}

.Inputs {
    justify-content: center;
    margin-top: 20px;
}
.gameButtons {
    justify-content: center;
    width: 80%;
}

.gameRounds {
    height: 500px;
    width: 100%; 
    background-color: #137752;
    overflow-y: auto;
}
.gameRounds::-webkit-scrollbar {
    display: none;
}

.personIcon {
    width: 7em;
    height: 7em;
    margin: 20px;
    border: 5px solid white;
    border-radius: 30px;
} 

.top_bottomIconMargin {
    margin: 0 40% 0 40%;
}
.middleIconMargin {
    margin: 7% 11% 7% 16%;
}

.dealerIcons {
    scale: 0.7;
    width: 30%;
    height: 50%;
    margin: 5% 1% 5% 3%;
    padding-top: 18px;
    background-color: #137752;
    border-radius: 50px;
    pointer-events: none;
    opacity: 0;
    animation: dealerIconsOnGameStart 2s forwards;
    animation-delay: 1.5s;
}


@keyframes BelaBlokAnimationOnMount {
    from {
        transform: translateY(750px);
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes backgroundOnMount {
    from {
        background-color: none;
    }
    to{
        background-color: #4bd3a1ee;
    }
}

@keyframes dealerIconsOnGameStart {
    from {
        opacity: 0;
        scale: 0.2;
    }
    to {
        opacity: 1;

    }
}