footer{
    margin-top: 5%;
    margin-bottom:0px;
    text-align: center;
    color: rgb(131, 131, 131);
    height: 40px;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}