.gameEnd {
    animation: gameEndAnimation 1s forwards;
    background-color: #4bd3a1;
    height: 600px;
    width: 40%;
    box-shadow: 10px 10px 10px gray;
    margin: auto;
    margin-top: 10%;
    font-size: 40px;
}

.endButton {
    color: white;
    border-radius: 50px;
    font-size: 50px;
    width: 40%;
    height: 80px;
    margin: auto;
}

@keyframes gameEndAnimation {
    from {
        transform: translateY(-2000px);
    }
    to {
        
    }
}