.App {
  text-align: center;
}

.dealerIconGameStartAnimation {
  width: 650px;
  height: 650px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  animation: dealerIconGameStart 1s forwards;
  /* pointer-events: none; */
}

@keyframes dealerIconGameStart {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%) scale(0.5);
      background-color: #137752;
      outline: 5px solid white;
      border-radius: 50px;

  }
}

@media screen and (max-width: 600px) {

  .dealerIconGameStartAnimation {
    justify-content: center;
    height: 400px;
    width: 100%;
  }
  @keyframes dealerIconGameStart {
    from {
    }
    to {
        transform:translateY(-45%) scale(0.2);
        background-color: #137752;
        border-radius: 100px;
    }
  }
}
