.App {
  text-align: center;
}

.dealerIconGameStartAnimation:active {
  animation: dealerIconGameStart 2s forwards;
}

@keyframes dealerIconGameStart {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(130%) translateY(-20%) scale(0.5);
  }
}
