body {
  background-image: url('D:/Projects/bella/Images/bela-pozadina.jpg');
  background-repeat: repeat;
  background-size: 60%;
}
.App {
  text-align: center;
}

.dealerIconGameStartAnimation {
  width: 650px;
  height: 650px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  animation: dealerIconGameStart 1s forwards;
}

.round {
  font-size: 50px;
  text-align: center;
  list-style-type: none;
  background-color: white;
  width: 90%;
  height: 15%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 40px;
  overflow: hidden;
  outline: 4px solid #0c9764;
  animation: roundAnimation 1.5s forwards;
}

.roundDetailsEnter {
  transition: 1s;
  height: 200px;
  font-size: 60px;
  padding-top: 10px;
}

.roundDetailsExit {
  transition: 1s;
  height: 15%;
  font-size: 50px;
  padding-top: 0px;
}

.details {
  font-size: 30px;
  word-spacing: 5px;
  margin: 0px;
  width: 30%;
  padding: 5px;
}

.detailsAll {
  justify-content: center;
  background-color: wheat;
  border-radius: 50px;
  margin: 20px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
}

@keyframes roundAnimation {
  0% {
    transform: translateY(300%);
    box-shadow: 0px 70px rgba(255, 255, 255, 0.686);
    opacity: 0;
  }
  60% {
    transform: translateY(-10%);
  }
  100% {
    
  }
}
@keyframes dealerIconGameStart {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%) scale(0.5);
      background-color: #137752;
      outline: 5px solid white;
      border-radius: 50px;

  }
}

@media screen and (max-width: 600px) {

  .dealerIconGameStartAnimation {
    justify-content: center;
    height: 400px;
    width: 100%;
  }
  @keyframes dealerIconGameStart {
    from {
    }
    to {
        transform:translateY(-45%) scale(0.2);
        background-color: #137752;
        border-radius: 100px;
    }
  }
}
